#character {
    /*width: 60px;*/
    /*height: auto;*/
    /*margin-top: 180px;*/
    /*margin-left: 60px;*/
    /*position: absolute;*/
}

#ground {
    /*position: absolute;*/
    /*width: inherit;*/
    /*margin-top: 242px;*/
}

#gameScreen {
    position: absolute;
    border: 2px solid black;
    border-radius: 5px;
}