<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samsung.retailexperience.retailhero">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.camera.auto_focus"/>
    <uses-feature android:name="android.hardware.camera"/>

    <!--for TriggerMessage-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:name="RetailHeroApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <receiver android:name=".widget.WidgetProvider1" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_1" />
        </receiver>
        <receiver android:name=".widget.WidgetProvider2" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_2" />
        </receiver>
        <receiver android:name=".widget.WidgetProvider3" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_3" />
        </receiver>

        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.MissingContentActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.samsung.sea.retail.missingfile"/>
            </intent-filter>
        </activity>

        <service android:name=".service.HeroService" android:exported="true" android:process=":remote">
            <intent-filter>
                <action android:name="com.samsung.retailexperience.retailhero.iHeroService" />
                <action android:name="com.samsung.retailexperience.retailhero.HERO_SERVICE" />
            </intent-filter>
        </service>

        <service
            android:label="ForegroundDetectingService"
            android:name=".service.ForegroundDetectingService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/foregrounddetectingservice"/>
        </service>

        <receiver android:name=".receiver.UIControlReceiver"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.samsung.retailexperience.retailhero.receiver.action.FOREGROUND_DETECTED" />
                <action android:name="com.samsung.retailexperience.retailhero.receiver.action.CHANGE_FRAGMENT" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.ReBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.SyncContentReceiver">
            <intent-filter>
                <action android:name="com.samsung.retailcloud.content.sync.STARTED"/>
                <action android:name="com.samsung.retailcloud.content.sync.ABORTED"/>
                <action android:name="com.samsung.retailcloud.content.sync.COMPLETED"/>
                <action android:name="com.samsung.retailcloud.content.UPDATE"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
